   {% load staticfiles %}
  <html>
        <head>
            <title>Wonderland Blog</title>
			<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:300&subset=latin,greek-ext,greek,latin-ext,cyrillic,cyrillic-ext' rel='stylesheet' type='text/css'>
			<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="{% static 'css/blog.css' %}">           
		    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Wonderland <br></br></a></h1>
		    {% if user.is_authenticated %}
			<a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
			<h2><p class="top-menu">Hello, {{ user.username }}<small-caps></h2><h2><a href="{% url 'django.contrib.auth.views.logout' %}">Log out</a></h2></small-caps></p>
            {% else %}
            <a href="{% url 'django.contrib.auth.views.login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a><br></br>
			{% endif %}
        </div>
		<div
            class="fb-like"
            data-share="true"
            data-width="450"
            data-show-faces="true">
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
		
    </body>
    </html>